html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0;
	color: #363636;
	margin: 0;
	padding: 0;
	background-color: #363636;
}

header {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

header h3 {
	color: #fff;
	margin-left: 50px;
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	height: 40vh;
}

.container {
	position: relative;
}

.choosen-character-wrapper {
	height: 100vh;
}

.choosen-character-wrapper:before {
	content: '';
	background-image: url(../images/wallpaper.png);
	opacity: .85;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}

.choosen-character-wrapper {
	position: relative;
	flex-direction: column;
}

.choosen-character-wrapper .choosen-character {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 400px;
	box-shadow: 0px 3px 6px #00000099;
	background: linear-gradient(to bottom, #9c0204, #4d1010);
}

.choosen-character-wrapper .choosen-character img {
	width: 90%;
	z-index: 1;
}

.choosen-character-wrapper .choosen-character i {
	z-index: 1;
	color: #fff;
	font-size: 14px;
	width: 180px;
	text-align: center;
}

.characters-card-wrapper {
	padding: 100px 0;
}

.slide-card-wrapper {
	margin: 0 25px;
	cursor: pointer;
}

.slide-show {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.slide-control:before {
	content: '';
	width: 50px;
	display: block;
	/*! border: 1px solid #FFF; */
	transform: rotate(-40deg);
	position: absolute;
}

.slide-control {
	width: 50px;
	height: 50px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: rotate(-45deg);
	cursor: pointer;
	/* transition: all .2s ease; */
}

/* .slide-control:hover {
	border-top: 2px solid gainsboro;
	border-left: 2px solid gainsboro;
} */

.slide-control::after {
	content: '';
	width: 50px;
	display: block;
	/*! border: 1px solid #FFF; */
	transform: rotate(40deg);
	position: absolute;
}

.slide-control.to-right {
	transform: rotate(45deg) scaleX(-1);
}

.card {
	width: 285px;
	background-color: #fff;
	height: 400px;
	box-shadow: 0px 3px 6px #FFFFFF63;
	border-radius: 27px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.card div:first-child {
	background-color: #363636;
	width: 250px;
	height: 270px;
	margin-bottom: 10px;
	border-radius: 70px;
	position: absolute;
	top: -65px;
	border: 2px solid #fff;
}

.card div:first-child img {
	width: 100%;
	position: absolute;
	top: -65px;
}

.card p {
	font-size: 14px;
	padding: 0 20px;
	margin-top: 240px;
	text-align: justify;
}

.contact-wrapper {
	height: 65vh;
	min-height: 65vh;
	background: linear-gradient(143deg, #7dede2, #58b790);
}

.contact-wrapper .form-wrapper {
	max-width: 40vw;
	padding: 50px 200px;
	background-color: #fff;
	min-height: 60vh;
	box-shadow: 0px 0px 6px #0000004D;
	border-radius: 5px;
	position: relative;
}

.contact-wrapper .form-wrapper h2 {
	color: #63c7a9;
	text-align: center;
	text-transform: uppercase;
}

.contact-wrapper .form-wrapper p {
	font-size: 14px;
	text-align: justify;
}

.contact-wrapper form {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
	margin-top: 50px;
}

.contact-wrapper form input:valid,
.contact-wrapper form textarea:valid {
	border: 1px solid #1fb51f;
}

.contact-wrapper form input {
	flex: 1 auto;
	padding: 10px 5px;
}

.contact-wrapper form input:first-child {
	margin-right: 30px;
}

.contact-wrapper form textarea {
	flex: 2 100%;
	height: 100px;
	margin: 30px 0;
	padding: 10px;
}

.contact-wrapper form button {
	padding: 10px 30px;
	border: none;
	background-color: #63c7a9;
	color: #fff;
	font-size: 16px;
	width: 250px;
	text-transform: uppercase;
	cursor: pointer;
}

.scroll-top {
	background: #fff;
	border-radius: 50px;
	padding: 15px 20px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 20px;
	bottom: 100px;
	opacity: 0;
	transition: opacity .25s ease;
	cursor: pointer;
}

.scroll-top:before {
	content: '';
	width: 24px;
	height: 24px;
	border-top: 2px solid #363636;
	display: block;
	border-left: 2px solid #363636;
	transform: rotate(45deg);
	margin-top: 10px;
}

.container {
	position: relative;
}

.mesage {
	position: absolute;
	color: #155724;
	background-color: #d4edda;
	padding: .75rem 1.25rem;
	border-radius: .25rem;
	border: 1px solid #c3e6cb;
	left: 0;
	right: 0;
	width: 250px;
	text-align: center;
	margin: auto auto;
	top: 50%;
	box-shadow: 0px 0px 6px 1px #0000004D;
	opacity: 0;
	transition: opacity .25s ease;
}

.show {
	opacity: 1;
}

@media screen and (max-width: 1200px) {
	.slide-show .card {
		width: 200px;
		height: 350px;
	}

	.slide-show .card div:first-child {
		width: 165px;
		height: 181px;
		top: -40px;
		border-radius: 45px;
	}

	.slide-show .card div:first-child img {
		top: -40px;
	}

	.slide-show .card p {
		font-size: 12px;
		margin-top: 160px;
	}
}

@media screen and (max-width: 870px) {
	.slide-control {
		display: none;
	}
}

@media screen and (max-width: 766px) {
	.slide-show {
		margin-bottom: 100px;
	}

	.slide-card-wrapper:last-child {
		margin-top: 150px;
	}

	.contact-wrapper .form-wrapper {
		padding: 50px;
	}

	.contact-wrapper .form-wrapper p {
		font-size: 12px;
	}
}

@media screen and (max-width: 990px) {
	.contact-wrapper form input:first-child {
		margin: 0;
	}
	.contact-wrapper form input,
	.contact-wrapper form input:first-child {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 633px) {
	.contact-wrapper form {
		padding: 0;
	}
}

@media screen and (max-width: 515px) {
	.slide-card-wrapper {
		margin-top: 150px;
	}

	.slide-card-wrapper:first-child {
		margin-top: 0px;
	}
}

@media screen and (max-width: 515px) {
	.slide-show {
		margin-bottom: 300px;
	}
}

@media screen and (max-width: 400px) {
	.choosen-character-wrapper .choosen-character {
		width: 250px;
	}
}
